name: Tests

on:
  push: # Every push
  pull_request:
    branches: [main, master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false # Cancel last job if still running

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test Python ${{ matrix.python-version }}
    strategy:
      fail-fast: true
      matrix: # Runs on all combinations of the matrix, make sure we are compatible
        python-version: ["3.13"]

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: make install

      - name: Run tests
        run: uv run pytest -v
